@import "bootstrap/scss/bootstrap";

:root {
  --bd-violet: #712cf9;
  --bd-violet-rgb: 112, 44, 249;
  --bd-violet-bg: var(--bd-violet);
}

body {
  background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 1) 85%
    ),
    radial-gradient(
      ellipse at top left,
      rgba(13, 110, 253, 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at top right,
      rgba(255, 228, 132, 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center right,
      rgba(112.520718, 44.062154, 249.437846, 0.5),
      transparent 50%
    ),
    radial-gradient(
      ellipse at center left,
      rgba(21451, 132, 0.5),
      transparent 50%
    );
}

.bd-btn-lg {
  --bs-btn-border-radius: 0.5rem;
  padding: 0.8125rem 2rem;
}

.btn-bd-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}
